@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-eb-garamond: var(--font-eb-garamond);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body {
  font-family: var(--font-eb-garamond);
}

@keyframes theme-toggle {
  0% {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

.animate-theme-toggle {
  animation: theme-toggle 0.3s ease-out forwards;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-color: #f1f1f1 transparent;
}
