@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: var(--font-stix-two-text);
}
@keyframes theme-toggle {
  0% {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

.animate-theme-toggle {
  animation: theme-toggle 0.3s ease-out forwards;
}
